
:root {
  --background: hsl(60, 23%, 27%);
  --highlight: hsl(60, 25%, 36%);
  --foreground: hsl(222.2, 84%, 4.9%);
  --text-primary: rgb(0, 0, 0);
  --navBar: hsl(60, 20%, 40%);
  --button0Border: hsl(60, 17%, 20%);
  --button1Border: hsl(60, 38%, 41%);
  --tableBackground: hsl(60, 100%, 10%);
  --subMenu: hsl(69, 100%, 10%);
  --subMenuHover: hsl(69, 100%, 20%);

  --card: rgb(255, 0, 0);
  --card-foreground: rgb(255, 0, 0);
  --popover: rgb(34, 34, 34); /* Dark grey for popover background */
  --popover-foreground: rgb(70, 70, 70); /* Lighter grey for popover text */
  --primary: rgb(34, 51, 14); /* Dark grey for primary background */
  --secondary-foreground: rgb(34, 51, 14); /* Dark grey for secondary text */
  --muted-foreground: rgb(139, 101, 76); /* Light brown for muted text */
  --accent-foreground: rgb(34, 51, 14); /* Dark grey for accent text */
  --destructive: rgb(150, 100, 96); /* Reddish grey for destructive background */
  --border: rgb(214, 82, 232); /* Light purple for border */
  --input: rgb(214, 82, 232); /* Light purple for input background */
  --ring: rgb(70, 70, 70); /* Dark grey for ring */
  --radius: 0.5rem;

}

